.bodydiv{
  margin: 0 auto;
  margin-top: 30vh;
  width: 40vw;
}


.XboxPic{
  position: fixed;
  top: 5vh;
  left: 5vw;
  height: auto;
  width: 10%;
}



.Dpadpic{
  position: fixed;
  top: 5vh;
  right: 5vh;
  height: auto;
  width: 10%; 
}

.NESPic{
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  height: auto;
  width: 10%;
}

.DicePic{
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  height: auto;
  width: 10%;
}


.Wishlisttab th, td{
  border: 2px solid black;

}

.WishlistController{
  width: 40%;
  height: auto;
}

.BodyDiv2{
  margin: 0 auto;
  margin-top: 30vh;
  width: 70vw;
}

.Budgetdiv{ 
  display: flex;

}

.FoundDealstab1{
  border: 2px solid black;
}

.FoundDealstab2{
  border: 2px solid black;

}


.OtherdealsButton{

  top: 6vw;
  left: 3vw;
}

.OtherdealsButton a{
  text-decoration: none;
  color: black;

}


.BacktoWishlist a{
  text-decoration: none;
  color: black;
}

.BacktoWishlist{
 
  top: 5vh;
  left: 3vw
}

.overhead {
  position: fixed;
  top: 3px;
  width: 80vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  
  
  
}

.overhead .div1{
  margin-top: 15px;
  
}

.headerbuttondiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mbudget{
  margin-left: -45px;
  margin-top: 2px;
}

.logoutdiv{
  display: flex;
  width: 20vw;
  height: 50px;
  position: fixed;

  right: -30px;
  top: 10px;
  background-color: white;
  


}



.signoutpng{
  height: 20px;
  width: 20px;
  margin-top: 16px;
  margin-right: 2px;
  
}


.logoutdiv:hover{
  background-color: red;
  border-radius: 5px;

}

