.bodydiv{
  margin: 0 auto;
  margin-top: 20vh;
  width: 40vw;
}

.Refreshdata:hover{
  background-color: rgb(116, 228, 82);
}


.XboxPic{
  position: fixed;
  top: 5vh;
  left: 5vw;
  height: auto;
  width: 10%;
}



.Dpadpic{
  position: fixed;
  top: 5vh;
  right: 5vh;
  height: auto;
  width: 10%; 
}

.NESPic{
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  height: auto;
  width: 10%;
}

.DicePic{
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  height: auto;
  width: 10%;
}


table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  letter-spacing: 1px;
}



th, td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}



td:nth-child(even), th:nth-child(even) {
  background-color: rgb(237 238 242);
}


.WishlistController{
  width: 40%;
  height: auto;
}

.BodyDiv2{
  margin: 0 auto;
  margin-top: 5vh;
  width: 60vw;
}

.Budgetdiv{ 
  display: flex;

}

.FoundDealstab1{
  border: 2px solid black;
}

.FoundDealstab2{
  border: 2px solid black;

}


.OtherdealsButton{

  top: 6vw;
  left: 3vw;
}

.OtherdealsButton a{
  text-decoration: none;
  color: black;

}

.OtherdealsButton:hover{
  background-color: rgb(53, 194, 17);
}


.BacktoWishlist a{
  text-decoration: none;
  color: black;
  
}

.BacktoWishlist:hover{
  background-color:rgb(53, 194, 17);
}

.BacktoWishlist{
 
  top: 5vh;
  left: 3vw
}

.overhead {
  position: fixed;
  top: 3px;
  width: 80vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  
  
  
}

.overhead .div1{
  margin-top: 15px;
  
}



.headerbuttondiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mbudget{
  margin-left: -45px;
  margin-top: 2px;
}

.logoutdiv{
  display: flex;
  width: 20vw;
  height: 50px;
  position: fixed;

  right: -30px;
  top: 10px;
  background-color: white;
  


}



.signoutpng{
  height: 20px;
  width: 20px;
  margin-top: 16px;
  margin-right: 2px;
  
}


.logoutdiv:hover{
  background-color: red;
  border-radius: 5px;

}

.logoutdiv p{
  text-decoration: none;
  color: black;
}


@media screen and (min-width: 900px){
  .logoutdiv{
    width: 10vw;
  }
  .overhead{
    width: 90vw;
  }
}


@media screen and (max-width: 700px){
  table{
    font-size: 10px;
  }
}


.uploaddiv{
  padding: 20px;
  margin: auto;
  width: 350px;
  margin-top: 10px;
  
 
  border: 2px solid black;
}

.bdiv1{
  display: grid;
  grid-template-columns: 60vw 20vw;
  gap: 10px;
  margin: auto;
  width: 90vw;
}

@media screen and (max-width: 1100px){
  .bdiv1{
    grid-template-columns: 60vw;
  }

}

.BodyDiv2 .WishlistController{
  margin-left: 16vw;
}

.hrdiv{
  width: 100px;
  left: 0;
}

hr{
  width: 250px;
  border-color: red;
}

.bdiv1 h1{
  text-align: center;
}

.bdiv2 h1{
  text-align: center;
}

button[type=submit]{
  width:150px;
  height: 50px;
  
  margin-top: 5px;
  
}

button[type=submit]:hover{
  background-color: rgb(13, 216, 13);

}

td img{
  height: auto;
  width: 80%;
}

.Wishlisttab td img{
  height: auto;
  width: 50%;
}

.Wishlisttab td button:hover{
  background-color: red;
}

.bodydiv3 td button:hover{
  background-color: rgb(9, 238, 9);
}

.Note{
  font-size: x-small;
}


